<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link href="https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/index.css">
  <link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon">
  <meta charset="utf-8" lang="pt-br">
  <title>Mercury</title>
</head>

<body>

  {{{body}}}

</body>

</html>